{% extends "CGPortfolioBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - CV
{% endblock %}

{% block body %}
    <div class="cv-links">
        <h3 class="h-style-3">Mon CV</h3>
        <img src="https://cdn2.iconfinder.com/data/icons/employment-business-2/256/CV-128.png">
        <a class="a-style-2" href="{{ asset('pdf/CV-GUERBER-SITE.pdf') }}" target="_blank"><h3>Lien vers mon CV</h3></a>   
    </div>
    <div class="cv-links">
        <h3 class="h-style-3">GitHub</h3>
        <img src="https://image.flaticon.com/icons/png/128/25/25657.png">
        <a class="a-style-2" href="https://github.com/camille-guerber" target="_blank"><h3>Lien vers mon compte GitHub</h3></a> 
    </div>
    <div class="cv-links">
        <h3 class="h-style-3">Linkedin</h3>
        <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-128.png">
        <a class="a-style-2" href="https://www.linkedin.com/in/camille-guerber-95a616122/" target="_blank"><h3>Lien vers mon profil Linkedin</h3></a>       
    </div>
    <div class="cv-links">
        <h3 class="h-style-3">Instagram</h3>
        <img src="http://blueprintpractice.com/wp-content/uploads/2017/02/Instagram-logo-2016-01-128x128-1.png">
        <a class="a-style-2" href="https://www.instagram.com/camkarz" target="_blank"><h3>Lien vers ma page Instagram</h3></a>       
    </div>
{% endblock %}
