{% extends "CGPortfolioBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Veille Technologique
{% endblock %}

{% block body %}
    <h1 class="h-style-3">A venir !</h1>
{% endblock %}


