{% extends "CGPortfolioBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Connection
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Veuillez vous identifier :</h1>
            {{ form(form) }}
        </div>
    </div>    
    
{% endblock %}


