{% extends "CGPortfolioBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Administration - Skill - Ajout
{% endblock %}

{% block body %}
    <a href="{{ path('cg_portfolio_admin_skills') }}"><button type="button" class="btn btn-default">Retour</button></a>
    <h1>Ajouter un skill</h1>
    {{ form(form) }}
{% endblock %}
